</div>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="/styles/footer.css">

<footer>
    <nav id="flexFooter" class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="apropos">
            <h6>À propos ?</h6>
            <p>Nous avons pour objectif de faciliter la mise en place de services d'aide à la personne</p>
        </div>
        <div class="questions">
            <h6>Posez vos questions !</h6>
            Tel : 0123456789 <br>
            At : 420 rue Puymaure Gap 05000 <br>
            @ : email@email.fr <br>
        </div>
        <div class="liensUtiles">
            <h6>Liens utiles</h6>
            nisfndsin.fr <br>
            aoieazpeeifn.com <br>
            aoieazpeeifn.com <br>
        </div>

    </nav>

</footer>
</body>

</html>