<%- include('header') -%>

<h1 class="display-2"> Welcome to MLServices </h1>

<div id="jumbAccueil" class="jumbotron">
    <h5 class="display-4">Réservez facilement une intervention !</h5>
    <p class="lead">En quelques clics, réservez une intervention dans la semaine et retrouvez celles à venir.</p>
    <hr class="my-4">
    <p>Pour démarrer, créez-vous un compte grâce à l'onglet "S'enregistrer".</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>

<%- include('footer') -%>