<%- include('header') -%>

<div id="jumbAccueil" class="jumbotron">
    <h4 class="display-3">Welcome to MLServices !</h4>

    <p class="lead">Réservez facilement une intervention et retrouvez celles à venir en quelques clics.</p>
    <hr class="my-4">
    <p>Pour démarrer, créez-vous un compte grâce à l'onglet "S'enregistrer".</p>
</div>

<%- include('footer') -%>