<%- include('header') -%>

<h1>Welcome to the services' page !</h1>

<div id="displayServices" class="container">

    <div class="card" style="width: 15rem;">
        <img src="/public/uploads/vacuum-cleaner.jpg" class="card-img-top" alt="Image aspirateur">
        <div class="card-body">
            <p class="card-text">Ménage.</p>
        </div>
    </div>

    <div class="card" style="width: 15rem;">
        <img src="/public/uploads/ironing.jpg" class="card-img-top" alt="Image repassage">
        <div class="card-body">
            <p class="card-text">Repassage.</p>
        </div>
    </div>

    <div class="card" style="width: 15rem;">
        <img src="./../public/uploads/driving.jpg" class="card-img-top" alt="Image fenêtre">
        <div class="card-body">
            <p class="card-text">Accompagnement aux déplacements.</p>
        </div>
    </div>

    <dixv class="card" style="width: 15rem;">
        <img src="/public/uploads/cooking.jpg" class="card-img-top" alt="Image repas">
        <div class="card-body">
            <p class="card-text">Préparation des repas.</p>
        </div>
    </dixv>

</div>

<%- include ('footer') -%>