.container{
    margin-top: 3%;
}

#displayServices{
    width:100%;
    display: flex;
    justify-content: space-between;
}

#InputsGroup * {
    margin: 2%;
    width: 15%;
}

#jumbAccueil{
    margin: 3%;
}